@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
.T3-main{
    display:flex;
}

.T3-main-left{
flex-basis: 20%;
background-color: #6ad5EF;
min-height: 100vh;
}
.T3-left-logo{
    height: 10vh;
    padding: 10px 0;
    font-family: 'Lobster', cursive;
    margin-left: 25px;
}

.T3-container{
    flex-basis: 75%;
    display: flex;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    box-shadow: rgb(161, 161, 161) 0px 0px 15px;
   margin-top: 10px;
   margin-left: 13px;
   margin-right: 13px;
}

.T3{
    display: flex;
    /* border: solid black ;
    background-color: white; */
    flex-basis: 100%;
}

.T3-header{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    flex-basis: 70%;
    margin: 0.5rem;
    background-color: white;
    padding-bottom: 20%;
}

.T3-title{
    font-family: 'Nanum Gothic',sans-serif;
    color: rgb(18, 18, 66);
    font-size: 3rem;
    /* flex-basis: 50%; */
}

.T3-title-line{
    margin-top: 1rem;
    border:solid 0.9px rgb(18, 18, 66);
    width: 100%;
}

.T3-subtitle-line{
    margin-top: 0.5rem;
    border: solid 0.5px;
    color: white;
    margin-left: 0.25rem;
    width: 30%;
}

.T3-subtitle-line2{
    margin-top: 0.5rem;
    border: solid 0.5px;
    color: white;
    margin-left: 0.25rem;
    width: 20%;
}

.T3-subtitle-line3{
    margin-top: 0.5rem;
    border: solid 0.5px;
    color: rgb(18, 18, 66);
    margin-left: 0.25rem;
    width: 90%;
}


.T3-subtittle{
    margin-left: 2rem;
    font-size: 1.8rem;
    font-weight: 300;
    flex-direction: column;
    
}

.T3-subtittle2{
    /* margin-left: -40rem; */
    font-size: 1.8rem;
    font-weight: 400;
    margin-top: 2rem;
    color: rgb(18, 18, 66);
    /* flex-direction: column; */
    
}


.T3-content{
    display: flex;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 0;
    /* flex-direction: column; */
    font-size: 1rem;
    color: grey;


}

.T3-ico{
    margin-right: 0.2rem;
    margin-top: 0.1rem;
}

.T3-left{
    display: flex;
    color: white;
    padding-top: 10rem;
    justify-content: flex-start;
    flex-direction: column;
    flex-basis: 30%;
    margin: 0.2rem;
    background-color: rgb(18, 18, 66);
}

.T3-skillName{
    font-size: 1rem;
    color: white;

}

.T3-skillDesc{
    font-size: 1rem;
    color: grey ;
    margin-top: 0;
    margin-right: 2rem;
}


.T3-list{
    width: 100%;
    margin-left: 0;
    font-size: 1rem;
}

.T3-exp-title{
    font-size: 1.5rem;
    /* display: inline; */
}

.T3-date{
    font-size: 1rem;
    font-weight: bold;
    /* display: inline; */
    /* width: fit-content; */

}

.T3-exp-content{
    margin-right: 2rem;
}

.T3-exp-loc{
    font-size: 1rem;
    color: grey;
}

.T3-tableLabels{
    width: 100%;
    font-weight: bold;
}

.T3-tablecontents{
    width: 100%;
    color: grey;
}


@media print{
    @page {
        size: auto;
        size: A3;
        margin: 0mm;
    }
    .T3-container {
        -webkit-print-color-adjust: exact !important; /*Chrome, Safari */
        color-adjust: exact !important;  /*Firefox*/
    }
    .fancy1-template1{
        display: none;
    }
    .T3-main-left{
        display: none;
        flex-basis: 0;
    }
    .T3-container{
        flex-basis:100%;
        box-shadow: none;
        margin-top: 0;
    }
    .T3-header{
        flex-basis: 90%;
    }
    .T3-left{
        height: 100vh;
    }
    
  }